* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  padding: 15px;
  font-family: "Inter", m;
}

.page-wrapper {
  overflow: hidden; /* тут важное своейства  */
  max-width: 375px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 30px 0 rgba(134, 134, 134, 0.25);
  background-color: #f7f7f7;
}

.header {
  padding: 40px 42px 145px;
  background-color: #afaeae;
  background:
    linear-gradient(rgba(100, 100, 100, 0.4), rgba(100, 100, 100, 0.7)),
    url("../images/header-bg.jpg") no-repeat center / cover;
  border-radius: 0 0 90px 90px;
  background-size: 100% auto;
  color: #f7f7f7;
}

.hello {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hello-text {
  line-height: 19px;
  font-weight: 300;
  font-size: 16px;
}

.user-avatart {
  object-fit: cover;
  border: 4px solid #fffefe;
  border-radius: 50%;
}

.user {
  margin: 0 auto;
  margin-top: -79px;
  text-align: center;
  border-radius: 10px;
  width: 300px;
  /* height: 100px; */
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  font-weight: 500;
  padding-bottom: 20px;
}

.user-name {
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 16px;
  color: #000;
}

.user-description {
  font-style: italic;
  font-size: 14px;
  color: #7b7a7a;
  margin-bottom: 21px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.card {
  margin: 12px auto;
  border-radius: 10px;
  width: 300px;
  /* height: 100px; */
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 260px;
  gap: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  background-color: #000;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  gap: 10px;
  color: #fff;
  margin-bottom: 6px;
}

.button-text {
  font-size: 12px;
}

.button.vk {
  background-color: #0077ff;
}

.button.tg {
  background-color: #24a1de;
}

.button.yt {
  background-color: #ff0000;
}


.button.github {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.lebenslauf {
  background-color: #ff0000;
}
